
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');





body{
     font-family: "Tajawal", sans-serif;
     overflow-y: scroll;
  overflow-x: hidden;
     background-color: black;
     color: aliceblue;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


